<div class="main">
  <div class="form">
    <span class="input-span">
      <label for="email" class="label">Tài Khoản</label>
      <input type="email" name="email" id="email"
    /></span>
    <span class="input-span">
      <label for="password" class="label">Mật Khẩu</label>
      <input type="password" name="password" id="password"
    /></span>
    <span class="span"><a href="#">' '</a></span>
    <input (click)="login()" class="submit" type="submit" value="Đăng Nhập" />
    <span class="span">Bạn chưa có tài khoản ? <a href="#">Đăng ký</a></span>
  </div>
</div>
