<div class="main">
  <h1 class="title-h1">CHÍNH SÁCH BẢO TRÌ VÀ BẢO HÀNH</h1>
  <h3>1. Phạm vi và điều kiện bảo trì và bảo hành</h3>
  <div class="item item1">
    <p>
      Các điều khoản bảo hành dưới đây được áp dụng cho xe máy và xe điện YAMAHA
      mới do Công ty TNHH Yamaha motor Việt Nam (YAMAHA) cung cấp và chỉ có hiệu
      lực trên lãnh thổ Việt Nam – không bao gồm những phụ tùng và hạng mục
      không bảo hành nêu tại mục 6. YAMAHA cam kết sửa chữa hoặc thay thế miễn
      phí các chi tiết hư hỏng do lỗi của nhà sản xuất tại các Yamaha Town hoặc
      Revzone trên toàn quốc và YAMAHA sẽ đưa ra quyết định cuối cùng về việc
      sửa chữa hoặc thay thế. Đối với các xe từ 400cc trở xuống sẽ áp dụng tại
      các Yamaha Town trên toàn quốc và các xe trên 400cc sẽ được áp dụng tại
      Revzone. Các chi tiết sau khi đã được thay thế bằng chi tiết mới theo điều
      kiện bảo hành sẽ trở thành tài sản của YAMAHA
    </p>
  </div>

  <h3>2. Thời gian bảo trì và bảo hành:</h3>
  <div class="item item2">
    <p>
      YAMAHA chịu trách nhiệm bảo hành và thay thế các chi tiết bị hư hỏng do
      lỗi của nhà sản xuất trong điều kiện sử dụng bình thường và bảo trì định
      kỳ đủ và đúng (*). Thời gian bảo hành được tính từ lúc sản phẩm được kích
      hoạt bảo hành trên hệ thống tại các Yamaha Town hoặc Revzone Yamaha Motor
      (Revzone). Áp dụng cho các loại xe cụ thể như sau: Các thủ tục sửa chữa,
      bảo hành, kiểm tra định kỳ,v.v… được thực hiện bởi Yamaha Town hoặc
      Revzone của YAMAHA. YAMAHA có quyền từ chối bảo hành bất cứ hư hỏng nào do
      nguyên nhân của việc sửa chữa/điều chỉnh không phải do các Yamaha Town
      hoặc Revzone tiến hành thực hiện. Đối với khách hàng không mua xe tại các
      Yamaha Town hoặc Revzone, để được kích hoạt bảo hành và bảo trì miễn phí
      cho xe hay cập nhật thông tin về chính sách và chương trình dịch vụ từ
      YAMAHA, vui lòng tải và cài đặt Ứng dụng My Yamaha hoặc liên hệ số điện
      thoại tổng đài (miễn phí): 18001588 hoặc đăng ký thông tin hỗ trợ trên mẫu
      điện tử bằng cách quét mã QR.
    </p>
    <img src="/assets/maintenance-item2.png" alt="" class="item2-img" />
  </div>

  <h3>3 Điều kiện bảo hành dành cho xe từ 400cc trở xuống</h3>
  <div class="item item3">
    <img src="/assets/maintenace-item3.png" alt="" class="item3-img" />
    <p>
      Nếu khách hàng sử dụng đầy đủ (phiếu số 1 đến số 3) và đúng (thời gian quy
      định trên mỗi phiếu) tại đại lý do Yamaha ủy nhiệm sẽ được gia hạn thêm 01
      năm hoặc 10.000km bảo hành, tổng thời gian bảo hành là 2 năm hoặc
      20.000km, tùy theo điều kiện nào đến trước. Nếu khách hàng sử dụng đầy đủ
      (phiếu số 1 đến số 3) và đúng (thời gian quy định trên mỗi phiếu), tiếp
      tục sử dụng đầy đủ (phiếu số 4 đến số 6) & đúng (thời gian quy định trên
      mỗi phiếu) tại đại lý do Yamaha ủy nhiệm sẽ được gia hạn thêm 1 năm hoặc
      10.000km bảo hành nữa, tổng thời gian bảo hành là 03 năm hoặc 30.000km,
      tùy theo điều kiện nào đến trước.
    </p>
  </div>
</div>
